/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.payment_box.payment_method_paypro_merchant_gateway {
    border: 1px solid #e8e8e8;
    border-radius: 8px;
    background-color: #fdfdfd;
}

.card-wrapper {
    padding-top: 10px;
}

.cc-img {
    text-align: center;
    margin: 5px;
}

.cc-field-wrapper {
    text-align: center;
}

.cc-field-wrapper .cc-field {
    display: inline-block;
    text-align: left;
    margin: 5px;
}

label.cc-field-label {
    padding-left: 0px;
}

.cc-field-wrapper .cc-field:first-of-type {
    min-width: 300px;
}
